* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #eee;
}

header {
    height: 300px;
    background-image: url(https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_1280.jpg);
    background-size: cover;
    color: #fff;
    padding-top: calc(150px - 21px);
    text-align: center;
    font-size: 42px;
}

header h2 {
    background-color: rgba(0, 0, 0, .5);
}

/* ======================================================================== */

nav {
    background-color: #333;
    font-size: 0;
}

nav #nav li ul {
    /* overflow: hidden; */
    display: none;
}

nav #nav li:hover ul {
    position: absolute;
    display: block;
    width: 100%;
    background-color: black;
}

nav #nav>li {
    position: relative;
    width: 25%;
    display: inline-block;
    text-align: center;
}

nav #nav>li a {
    display: block;
    padding: 20px 0;
    text-decoration: none;
    color: #ddd;
    font-size: 26px;
    transition: .3s;
}

nav #nav a:hover {
    background-color: #444;
    color: #fff;
}

nav #nav li ul li {
    display: block;
}

/* ========================================================================== */

main {
    float: left;
    width: 80%;
    background-color: #ddd;
}

aside {
    float: left;
    width: 20%;
}

aside .box {
    max-width: 150px;
    margin: 25% auto 0;
    padding: 10px 20px 20px 20px;
    background-color: #333;
    color: #bbb;
}

.box ul {
    margin: 10px 0 0 30px
}

.box a {
    text-decoration: none;
    color: white;
}

.box li {
    transition: .3s;
}

.box li:hover {
    transform: translateX(10%);
}

main h3 {
    text-align: center;
    font-size: 40px;
    padding: 30px 0;
}

main ul {
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

main a {
    display: block;
    width: 200px;
    margin: 0 auto;
    border: 2px solid #333;
    color: black;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
}

a img {
    width: 35px;
}

footer {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 15px 0;
    clear: both;
}

/* tabele */

table {
    border: 2px solid black;
    width: 60%;
    margin: 0 auto;
    font-size: 17px;
}

table caption {
    margin-bottom: 10px;
    font-size: 30px;
}

table thead th {
    border: 2px solid black;
}

table td {
    border: 1px solid black;
    text-align: center;
}

table tbody tr:nth-of-type(odd) {
    background-color: #ccc;
}

main table tr a {
    width: 100%;
    border: none;
    margin: 0;
}

/* formularz */

main {
    padding: 10px 20px;
}

div#jezyk_programowania,
div#sposob_zaplaty,
div#sendrest {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 150%;
}

div h4 {
    font-size: 26px;
}

div#sendrest input {
    width: 200px;
    padding: 10px 0;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
}

div#sendrest input:hover {
    transform: scale(1.1);
}

/* galeria */

main .gallery li {
    padding: 5px;
    list-style: none;
    float: left;
    width: 33.33%;
}

main .gallery li img {
    width: 100%;
    transition: .5s;
}

main .gallery li img:hover {
    transform: scale(1.5);
}

main .gallery li a {
    border: none;
}