* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
}

#baner {
    height: 300px;
    background-image: url(https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_1280.jpg);
    background-size: cover;
    color: #fff;
    padding-top: calc(150px - 21px);
    text-align: center;
    font-size: 42px;
}

#baner h2 {
    background-color: rgba(0, 0, 0, .5);
}

#menu {
    background-color: #333;
    font-size: 0;
    overflow: hidden;
}

#menu ul {
    overflow: hidden;
    display: none;
}

#menu li {
    width: 25%;
    display: inline-block;
    text-align: center;
}

#menu a {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    color: #ddd;
    font-size: 26px;
    transition: .3s;
}

#menu li:hover ul {
    position: absolute;
    display: block;
    background-color: black;
}

#menu li ul li {
    display: block;
    width: 100%;
}

#menu a:hover {
    background-color: #444;
    color: #fff;
}

#tresc {
    float: left;
    width: 80%;
    background-color: #ddd;
}

#pasek {
    float: left;
    width: 20%;
}

#pasek .box {
    max-width: 150px;
    margin: 25% auto 0;
    padding: 10px 20px 20px 20px;
    background-color: #333;
    color: #bbb;
}

.box ul {
    margin: 10px 0 0 30px
}

.box a {
    text-decoration: none;
    color: white;
}

.box li {
    transition: .3s;
}

.box li:hover {
    transform: translateX(10%);
}

#tresc h3 {
    text-align: center;
    font-size: 40px;
    padding: 30px 0;
}

#tresc ul {
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

#tresc a {
    display: block;
    width: 200px;
    margin: 0 auto;
    border: 2px solid #333;
    color: black;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
}

a img {
    width: 35px;
}

#stopka {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 15px 0;
    clear: both;
}